{% include "typei/prefix.html " %}

<script type = "text/javascript">  
   
function myfunction(url)  
{  
  window.location.href = url;  
}  
</script>  
<STYLE type="text/css">
	span.protein {
	background-size:100% 100%;
	background-repeat:no-repeat;
	height:20px;
	display:inline-block;
	text-align: center; 
	}
	
	a.plasmid_name, a.protein, a.genome{
	color: rgb(140, 145, 145);
	}
	a.plasmid_name:hover, a.genome:hover{	
	color:#8478cc;
	}
	
	a.protein:hover{
	color: #8478cc;
	font-weight:bolder;
	}
	#M{background-image:url('{{MEDIA_URL}}/images/protein/M.jpg/');}
	#Mminus{background-image:url('{{MEDIA_URL}}/images/protein/Mminus.jpg/');}
	#R{background-image:url('{{MEDIA_URL}}/images/protein/R.jpg/');}
	#Rminus{background-image:url('{{MEDIA_URL}}/images/protein/Rminus.jpg/');}
	#S{background-image:url('{{MEDIA_URL}}/images/protein/S.jpg/');}
	#Sminus{background-image:url('{{MEDIA_URL}}/images/protein/Sminus.jpg/');}
	#NOplus{background-image:url('{{MEDIA_URL}}/images/protein/NO.jpg/');}
	#NOminus{background-image:url('{{MEDIA_URL}}/images/protein/NOminus.jpg/');}
	.main_container{
	width:880px;  
	padding: 10px;
	padding-left:20px;
	color:rgb(140, 145, 145);
	}
</STYLE>

<!-- STATS: Time to display page: %(totTime).2f Time for python scripts: %(pyTime).2f Time for DB acces: %(dbTime).2f Queries: %(queries)d -->

{% load typei_extras %}
<div class="main_container" > 
<h2>There are {{matching_systems}}  matching genomic clusters of typeI r-m related proteins.</h2>
{% if System_list %}
	{% for system in System_list %}
        {%if system.display %}   
        	<div style="border:0px solid red; margin:10px";>
        		<a  class="genome" href="/enzymes/genome/{{ system.dnapiece.genome.id }}/">{{system.dnapiece.genome.name|rep:"_"}}</a>
        		 dna file: <a  class="genome"  href="/enzymes/system/{{ system.dnapiece.id }}/">{{system.dnapiece.name|cut:".ptt"}}</a>
        		 subunit composition: {{system.subunit_composition}} system number:{{system.id}} classified as:{{system.system_kind}}
        		<br>
        		
        		{% for protein in system.protein_set.all %}
        		
        		<a class="protein" href="/enzymes/protein/{{ protein.id }}/">
        		<span class="protein" 
                {%if protein.subunit_kind != "" %}     
                    {%if protein.subunit_kind == "M" and protein.strand == "+"%}      
        			id="M"        			
        			{%endif%}          			
        			{%if protein.subunit_kind == "M" and protein.strand == "-"%} 
        			id="Mminus" 
        			{%endif%}             		
        			{% if protein.subunit_kind == "R" and protein.strand == "+" %}
        			id="R" 
        			{%endif%}        		
        			{% if protein.subunit_kind == "R" and protein.strand == "-" %}
					id="Rminus" 
        			{%endif%}        		
        			{%if protein.subunit_kind == "S" and protein.strand == "+" %}
        			id="S" 
        			{%endif%}        		
        			{%if protein.subunit_kind == "S" and protein.strand == "-" %}
        			id="Sminus" 
        			{%endif%}
title="Size:         {{protein.dna_length}} aa
Position: {{protein.genome_location}}
Click to get more info"
				style="width:{%widthratio protein.dna_length 15 1%}px;">
				{{protein.hammer_cluster|cut:"_HMMER"}}</span> </a>
        		{%endif%}
        		{%if protein.subunit_kind == ""%}
        		<a class="protein" href="/enzymes/protein/{{ protein.id }} /">
        		<span class="protein"
        			{%if protein.subunit_kind == ""  and protein.strand == "+"%}
        			   id="NOplus" 
        			{%endif%}
        			{%if protein.subunit_kind == ""  and protein.strand == "-"%}
        			  id="NOminus"
        			{%endif%}
title="Size:         {{protein.dna_length}} aa
Position: {{protein.genome_location}}
{{protein.hh_pfam_desc}}"        			
        			style="width:{%widthratio protein.dna_length 15 1%}px;">
        			X
        			</span></a>
        		{%endif%}	
        	{% endfor %} <!--protein--> 	
        	</div>		 <!--system-div_->
        {%endif%}   <!--system display-->
    {% endfor %} <!--system--> 	
       
    
{% else %}
    <p>No genomes are available.</p>
{% endif %}
</table>
</div>
{% include "typei/suffix.html " %}
